  <footer id="Footer" class="clearfix">
  <div class="widgets_wrapper">
    <div class="container">
      <div class="column one-half">
        <aside id="custom_html-6" class="widget_text widget widget_custom_html">
          <div class="textwidget custom-html-widget">
            <ul>
              <li style="margin-bottom: 10px;"><span style="color: #fe6969; margin-right: 10px;">→</span> <a href="#">About</a></li>
            </ul>
          </div>
        </aside>
      </div>
    <div class="column one-half">
      <aside id="custom_html-7" class="widget_text widget widget_custom_html">
        <div class="textwidget custom-html-widget">
          <ul>
            <li style="margin-bottom: 10px;"><span style="color: #fe6969; margin-right: 10px;">→</span> <a href="#">Contact Us</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
  </div>
  </footer>