<nav class="navbar navbar-dark navbar-expand-lg static-top" id="header_wrapper">
  <div class="container">
    <a class="navbar-brand" href="#">
          {{!-- <img src="/public/img/lgo3a.jpg" alt="" id="logo"> --}}
        </a>
        <h1 id="cordon">Cordon</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="header_wrapper" href="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="header_wrapper" href="/geofence">Geofences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="header_wrapper" href="/viewChildren">Children</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="header_wrapper" href="/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="header_wrapper" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>