<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/{{this}}">
  <link rel="stylesheet" type="text/css" href="/public/css/geofenceAdded.css">

</head>

<body>
  
<!-- Navigation -->
{{> navigation }}

  <div class="container">

    <div id="geofence-added-successfully">
      <h1>Geofence</h1>
   

      <form>
        <a href="/geofence" id="link"> <h2>{{createdGeofence.geofenceName}}</h2> </a>
      </form>
   
      <h1>was successfully created</h1>
    </div><!-- End div geofence-added-successfully -->

  </div> <!-- End class container -->
  {{> footer }}
</body>