    <nav>
    <ul class="menu-area">
      <li><a href="/homepage">Home</a></li>
      <li><a href="/geofence">Geofence</a></li>
      <li><a href="/account">Account</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
    <h3>Geofence Successfully Created</h3>
