<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/{{this}}">
</head>

<body>
  <div class="container">
    <h1 id="cordon">Cordon</h1>
  <div class="custom-padding"></div>
    <nav>
      <ul class="menu-area">
        <li><a href="/homepage" id="main-menu">Home</a></li>
        <li><a href="/geofence" id="main-menu">Geofence</a></li>
        <li><a href="/account" id="main-menu">Account</a></li>
        <li><a href="/logout" id="main-menu">Logout</a></li>
      </ul>
    </nav>
  </div>

<div>Succesfully Added Child to Geofence</div>
<p id="afterSignup">Click <a href="/geofence" id="loginLink">here</a> to go back to Geofences</p>
</body>