<h1>Geofencing</h1>
<div class="custom-padding">
  <nav>
    <ul class="menu-area">
      <li><a href="/homepage">Home</a></li>
      <li><a href="/geofence">Geofence</a></li>
      <li><a href="/account">Account</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>

<div>List of Geofences Goes Here with delete/edit buttons</div>
<div><a href="/addGeofence">Add New Geofence</a></div>
<div><a href="/addChildToGeofence">Add Child to Geofence</a></div>