<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="public/css/homepage.css">
  <!-- Navigation -->
  {{> navigation }}

  <div class="container">

    <div class=afterLogIn id="welcome">
      <h1>Welcome</h1>
      <h1> {{userResult.email}} </h1>
    </div>

  {{!-- <div>
      <img src="/public/img/lgo3a.jpg" width="100%">
  </div> --}}
  </div> <!-- end of class container -->
  <!-- Footer -->
  {{> footer }}
</body>

