<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/{{this}}">
</head>

<body>

    <div class="container">
        <h1 id="cordon">Cordon</h1>
    </div>

<div>
    <h1>Succesfully logged out.</h1>
<p id="logOut">Click <a href="/" role="button" id="loginLink">here </a>to log back in.</p>
</div>
</body>