<head>

  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/{{this}}">

</head>

<body>

<!-- Navigation -->
{{> navigation }}

<div class="container">




  {{!-- <div class="container">
    <h1 id="cordon">Cordon</h1>
  <div class="custom-padding"></div>
    <nav>
      <ul class="menu-area">
        <li><a href="/homepage" id="main-menu">Home</a></li>
        <li><a href="/geofence" id="main-menu">Geofence</a></li>
        <li><a href="/account" id="main-menu">Account</a></li>
        <li><a href="/logout" id="main-menu">Logout</a></li>
      </ul>
    </nav>
  </div> --}}

<ul id="mychildren">
  {{#each myChildren as |child|}}
  {{#with child}}
    <li>{{child.firstN}} {{child.lastN}}</li>
  {{/with}}
  {{/each}}
</ul>

<table border="1">

<script language="javascript" type="text/javascript">


  var myArray = userResult.children;

  for (var i=0; i < userResult.children.length; i++) {
    document.write("<tr><td>Number " + i + " is:</td>");
    document.write("<td>" + myArray[i] + "</td></tr>");
  }

</script>

</table>
</div> <!-- End class container -->
{{> footer }}
</body>
