#addGeofence {
    padding: 40px;
}

#addGeofence h1 {
    font: inherit;
    text-indent: 0em;
    pointer-events: auto;
    box-sizing: border-box;
    outline: none !important;
    position: relative;
    display: block;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 5;
    font-family: "Source Serif Pro";
    visibility: visible;
    text-align: center;
    line-height: 41px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 51px;
    border-color: rgb(98, 98, 98);
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: auto;
    height: auto;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.box {
    border: 1px solid rgb(255, 255, 255, 0.25);
    border-radius: 3px;
    padding: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.25);
    opacity: 100%;
    z-index: 1;
}

/* button */
#botton-padding {
    float: right;
    padding-top: 50px; 
}

#submitGeofence {
    width: 150px;
    background-color: rgb(	254, 105, 105); 
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 14px;
    padding-left: 30px;
    border-radius: 3px;
    border-style: none;
    font-style: inherit;
    color: rgb(	255, 255, 255, 1);
}

#submitGeofence:hover {
    background-color: #fff;
    font-style: inherit;
    color: black;
}

#addGeofenceTable {
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    border-collapse: collapse;
    color: #212529;
    box-sizing: border-box;
}
