

<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/{{this}}">
  <link rel="stylesheet" type="text/css" href="/public/css/geofenceAdded.css">

</head>

<body>
  
<!-- Navigation -->
{{> navigation }}

  <div class="container">

    <div id="geofence-added-successfully">
      <h1>Applicant account created successfully!</h1>
   

      <form>
        <p id="afterSignup">Click <a href="/" id="loginLink">here</a> to go back to the login page</p>
      </form>

    </div><!-- End div geofence-added-successfully -->

  </div> <!-- End class container -->
  {{> footer }}
</body>