
<body>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
  <div class="loginbox">
    {{>name}}
    <div class="loginform">
      <form id="static-form1" method="post" action="/login">
        <div class="form-userName">
          <label for="username">Enter username:</label>
          <input type="text" class="text" id="username" name="userName" placeholder="Enter Text" value="{{username}}">
        </div>
        <div class="usererror" id="usererror" hidden></div>
        <div class="form-password">
          <label for="password">Enter password:</label>
          <input type="password" class="text" id="password" name="password" placeholder="Enter Text" value="{{password}}" required>
        </div>
          {{#if hasError}}
            <p class = "logineError">{{error}}</p>
          {{/if}}
        <div class="form-group">
          <button type="submit" class="btn-login">Login</button>
        </div>
        <div class="form-group hidden" id="error-container">
          <div class="alert alert-danger text-goes-here"></div>
        </div>
        <div class="form-group hidden" id="result-container">
          <div class="alert alert-success text-goes-here"></div>
        </div>
      </form>
        <p class = loginPageOr>OR</p>
      <form id="static-form2" method="get" action="/signup">
        <div class="form-group">
          <button type="submit" class="btn-register">New Applicant Signup</button>
        </div>
      </form>
    </div>
  </div>
  {{>footer}}
</body>